<div class="container-footer">
    <div class="footer-text-box">
        <h1>Hi, I am Pratham Kaushik</h1>
        <p>
            An Aspiring Full Stack Developer passionate about building 
            responsive, user-friendly, and impactful web applications.
        </p>    
</div>

    <!-- Social Icons -->
    <div class="footer-social">
        <a href="#"><i class="ri-linkedin-box-line"></i></a>
        <a href="#"><i class="ri-instagram-line"></i></a>
        <a href="#"><i class="ri-github-fill"></i></a>
    </div>
    <hr>
    <div class="footer-text">
        <p>© Copyright 2025 . Made by <a href="/" style="color: white;margin-left: 5px;">Pratham Kaushik</a></p>
</div>

