<%- include('partials/header') %>
<div class="container-about">
    <div class="text-box">
        <hero>
            <h1>About Me</h1>
            <p>Hi, I’m Pratham Kaushik, a motivated and detail-oriented web developer with a strong foundation in JavaScript, Node.js, Express.js, PHP, and MySQLi.
I enjoy turning ideas into functional and efficient applications that enhance user experience. As a fresher, I am always eager to learn new technologies and contribute to meaningful projects.</p>
        </hero>
    </div>
    
<div class="skill-container">
        <h2>Skills</h2>
        <div class="skills">
  <span class="skill-box">HTML5</span>
  <span class="skill-box">CSS3</span>
  <span class="skill-box">JavaScript</span>
  <span class="skill-box">Node.js</span>
  <span class="skill-box">Express.js</span>
  <span class="skill-box">PHP</span>
  <span class="skill-box">MySQL</span>
  <span class="skill-box">Postgresql</span>          
</div>

        <div class="contact">
        <a href="/contact">contact me</a>    
        </div>
</div>
</div>
<%- include('partials/footer') %>