<%- include('partials/header') %>
<div class="containor-home">
    <div class="text-box">
        <h1>Hi, I am Pratham Kaushik</h1>
        <p>
            An Aspiring Full Stack Developer passionate about building 
            responsive, user-friendly, and impactful web applications.
        </p>    

        <!-- Buttons -->
        <div class="row">
            <a href="/projects">My Projects</a>
            <a href="/resume/Pratham_Resume.pdf" class="btn" download>
                Download Resume
            </a>
        </div>
    </div>

    <!-- Social Icons -->
    <div class="social">
        <a href="https://www.linkedin.com/in/pratham-kaushik-69288b37b/"><i class="ri-linkedin-box-line"></i></a>
        <a href="https://www.instagram.com/parthamkaushik/?igsh=MWI5bnlqYXh2MjhzaA%3D%3D#"><i class="ri-instagram-line"></i></a>
        <a href="https://github.com/Prathamkaush"><i class="ri-github-fill"></i></a>
    </div>
</div>
<%- include('partials/footer') %>