<%- include('partials/header') %>
<div class="container-projects">
   
    <h1 class="my-projects">My Projects</h1>
  
  <p>Here are some of the projects I’ve built using different technologies.</p>

  <div class="projects-grid">
    <!-- Project Card 1 -->
    <div class="project-card">
      <img src="/images/Screenshot (8).png" alt="To-Do App Screenshot">
      <h2>Books Management App</h2>
      <p>A web application to manage and explore a collection of books with features like adding, updating, and deleting book records.</p>
      <a href="/projects/books-app" class="btn">View Case Study</a>
    </div>

    <!-- Project Card 2 -->
    <div class="project-card">
      <img src="/images/Screenshot (10).png" alt="Portfolio Screenshot">
      <h2>Portfolio Website</h2>
      <p>A responsive personal portfolio built with HTML, CSS, and JS.</p>
      <a href="/projects/portfolio" class="btn">View Case Study</a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>